@page "/"

<PageTitle>@WebstoreTitle</PageTitle>

    <!-- Showcase -->
    <section class="showcase">
        <div class="showcase-text">
            <h1>@WebstoreTitle</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
            maxime.
        </p>
        </div>
    </section>

    <!-- Product Categories -->
    <section class="categories">
        <h1>Product Categories</h1>
        <div class="card">

        </div>
    </section>