.order {
    display: flex;
    flex-direction: column;
}

    .order h1,
    .order h2 {
        text-align: center;
    }

    .order-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 20px;
        background: #FFF;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

.content-table {
    border-collapse: collapse;
    margin: 25px auto 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
}

    .content-table thead tr {
        background: rgba(0,136,169,1);
        color: #FFF;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #555;
        background: #F3F3F3;
    }

        .content-table tbody tr:nth-of-type(even) {
            background: #FFF;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid rgba(0,136,169,1);
        }

.order .totals {
    min-width: 200px;
    /*font-weight: bold;*/
    text-align: right;
    display: flex;
    justify-content: right;
    box-shadow: none;
}

    .order .totals tbody tr {
        background: #FFF;
    }

hr {
    margin: 25px 0;
}

.shipping {
    min-width: 400px;
    margin-top: 5px;
}

.proceed {
    text-align: right;
}

    .proceed div {
        margin-right: 20px;
    }

        .proceed div button {
            font-size: 1.2rem;
        }

.new-address {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ship-address {
    display: flex;
    flex-direction: column;
}

.payment {
    justify-self: center;
}

.shipping-address {
    justify-self: center;
}
