

hr {
    margin: 25px 0;
}

.shipping {
    min-width: 400px;
    margin-top: 5px;
}

.proceed {
    text-align: right;
}

    .proceed div {
        margin-right: 20px;
    }

        .proceed div button {
            font-size: 1.2rem;
        }

.new-address {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ship-address {
    display: flex;
    flex-direction: column;
}

.payment {
    justify-self: center;
}

.shipping-address {
    justify-self: center;
}
