@page "/productbycategory/{Category}"



<section class="product">
    <h1>@Category</h1>
    @foreach (ProductDTO product in ProductList)
    {
        <ProductDetail Product="product"/>
    }

</section>