@page "/register"



@if (_registerSuccessful == false)
{
    <div class="main_container">
        <h3>Registration Form</h3>

        @if (_attemptToRegisterFailedMessage != null && _attemptToregisterFailed == true)
        {
            foreach (string error in _attemptToRegisterFailedMessage)
            {
                <p class="register_errors">@error</p>
            }
        }

        <div>
            <CustomerRegistrationComponent Customer="_userToRegister" ValidationErrors="@ValidationErrors" />
        </div>

        <div>
            <AddressComponent Address="_address" ValidationErrors="@ValidationErrors" />
        </div>


        <button @onclick="RegisterUser_Click">Submit Registration Form</button>


    </div>
}
else
{
    <h4>Registration was successful. Press the button below to go to the sign in page.</h4>
    <button>Go to Sign In Page</button>
}

