@page "/shoppingcart"

<section class="cart">
    <h1>ShoppingCart</h1>
    <div class="cart-container">
        <div>
            @foreach (CartItemDTO item in CartItems)
            {
                <ShoppingCartDetail CartItem="item" CartItemDeleted="@DeleteCartItem" UpdateCartItemQuantity="@UpdateItemQuantity"/>
            }
        </div>
        <div>
            <h3>Cart Summary</h3>
            <div class="cart-summary">
                Total - (@TotalQuantity items)&nbsp;<b>@TotalPrice.ToString("c2")</b>
            </div>
            @if (TotalQuantity > 0)
            {
                <button @onclick="PreviewOrder_Click"><i class="fas fa-wallet"></i>&nbsp; Preview Order</button>
            }            
        </div>
    </div>

</section>


