@page "/signin"

@if (_signInSuccessful == false)
{
    <div class="main_container">
        <h3>Sign In</h3>
        @if (_attemptToSignInFailed == true)
        {
            <div>
                <label class="signin_errors">The username or password is incorrect</label>
            </div>
            <div>
                <label class="signin_errors">Please correct and re-enter</label>
            </div>
        }

        <div class="form">
            <EditForm Model="@_userToSignIn">
                <div>
                    <div>
                        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="EmailAddress" />
                    </div>
                    <label for="email">Email Address</label>
                    <InputText style="width: 100%" @bind-Value="_userToSignIn.EmailAddress" id="email" />
                </div>

                <div>
                    <div>
                        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="Password" />
                    </div>
                    <label for="password">Password</label>
                    <InputText style="width: 100%" @bind-Value="_userToSignIn.Password" id="password" type="password" />
                </div>
            </EditForm>
        </div>
        <button @onclick="SignInUser">Sign In</button>
    </div>
}
else
{

}