.container {
    width: 100%;
}

    .container label {
        font-size: 0.8rem;   
        padding-right: 1rem;
        float: left;
    }

    .container input {
        width: 100%;
    }

.my_1_percent {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;
}

