.container {
    width: 100%;
}

    .container label {
        padding-right: 1rem;
        float: left;
    }

    .container textarea {
        width: 100%;
    }

.my_1_percent {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;
}
