@page "/shoppingcartmenu"

<h3>ShoppingCartMenu</h3>

<ul class="right-menu">
    <li>
        <a href="/">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <label>@CartQuantity</label>
    </li>
</ul>
