.container {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.item {
    width:100%;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.upload-image {
    display: inline-block;
    margin: 0 0 20px 0;
}


.save-product {
    display: flex;
    justify-content: center;
}