* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #262626;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 10px;
    background: whitesmoke;

}

    .main-nav ul {
        display: flex;
    }

    .main-nav ul li {
        padding: 0 10px;
    }

        .main-nav ul li a {
            padding-bottom: 3px;
        }

        .main-nav ul li a:hover {
            border-bottom: 2px solid #262626
        }

        .main-nav ul.main-menu {
            flex: 1;
            justify-content:center;
            margin-left: 20px;
        }

    .main-nav .logo {
        display: flex;
        align-content: center;
        justify-content:center;
    }

 .main-nav .logo a {
     align-self: center;
 }


