


<nav class="main-nav">
    <span class="logo">
        <a href="#">
            <img src="/favicon.png" alt="" />
        </a>
        <a href="#"><span>Web-Store</span></a>
    </span>

    <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <AuthorizeView>
            <Authorized>
                <li><a href="/customerdetails">Profile</a></li>
                <li><button @onclick="SignOut">Sign Out</button></li>
            </Authorized>
            <NotAuthorized>
                <li><a href="/register">Register</a></li>
                <li><a href="/signin">Sign In</a></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>

    <ul class="right-menu">
        <li>
            <a href="/">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </li>
    </ul>
</nav>

